
{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
<canvas id="myChart" width="400" height="50"></canvas>

<!-- Render the rest of the ChangeList view by calling block.super -->


<a href="http://127.0.0.1:8000/books/reports/"> Total Monthly Books Per  Age</a>

<br>

<a href="http://127.0.0.1:8000/books/categories/">Total Books per Category  Report</a>
<br>
<p>report to show complete , processing,pending e.tc tests. </p>

{{ block.super }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


{% endblock %}
