<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Reset Password</title>


    <style>

    body {
    background-image: url('path/to/your/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    }




    </style>
</head>

<body>


    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    


</body>






</html>